
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
  color: white;
  background-color: #121212;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffea80;
}
